# Importing important libraries

In [194]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

# Connecting with chrome webdriver and feeding in the website

In [3]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

# Insering the values in search bar of skill and location

In [4]:
skill_des=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'input[id="qsb-keyword-sugg"]')))
loc=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'input[id="qsb-location-sugg"]')))

skill_des.clear()
loc.clear()
skill_des.send_keys("Data Analyst")
loc.send_keys("Bangalore")

# Pressing the search button

In [5]:
search=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'button[class="btn"]'))).click()

# Creating the empty lists for attributes of resultant dataset

In [6]:
job_profile=[]
location=[]
company_name=[]
exp_req=[]

# Seaching for different attributes like job_profile , experience required,location and company name

In [7]:
profile=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

exper=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')

In [8]:
loca=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span')

In [9]:
company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

# Using for loop to add the values in empty lists

In [10]:
for i in loca:
    x=i.text
    location.append(x)

In [11]:
for i in company:
    x=i.text
    company_name.append(x)

In [12]:

for i in profile:
    x=i.text
    job_profile.append(x)
    

    
for i in exper:
    x=i.text
    exp_req.append(x)

# Slicing the lists to only contain 10 values

In [13]:
job_profile=job_profile[0:10]

In [14]:
location=location[0:10]

In [15]:
company_name=company_name[0:10]

In [16]:
exp_req=exp_req[0:10]

# Creating a dataframe with our lists

In [17]:
df_naukri=pd.DataFrame({"Company Name":company_name,"Location":location,"Designation":job_profile,"Experience Required":exp_req})

In [18]:
df_naukri

,Company Name,Location,Designation,Experience Required
0,Philips India Limited,Bangalore/Bengaluru,Senior Specialist - Data Analyst,4-8 Yrs
1,CGI Information Systems and Management Consult...,Bangalore/Bengaluru,Business/Data Analyst - SSE/LA,2-5 Yrs
2,Infobahn Softworld Inc.,Bangalore/Bengaluru,Business Data Analyst II,5-8 Yrs
3,WEIWO Communication Pvt. Ltd.,Bangalore/Bengaluru(Ulsoor),Data Analyst,4-8 Yrs
4,Trigent Software,Bangalore/Bengaluru,Business Data Analyst,3-5 Yrs
5,Trigent Software,Bangalore/Bengaluru,Business Data Analyst,3-5 Yrs
6,"India Medtronic Pvt. Ltd,.","Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Data Analyst/Business Analyst-Gurgaon/Bangalor...,1-4 Yrs
7,SMEDC SERVICES PRIVATE LIMITED,Bangalore/Bengaluru,Senior Data Analyst,5-8 Yrs
8,Allegis Services India Pvt. Ltd.,(WFH during Covid),Data Analyst,2-5 Yrs
9,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Data Analyst,3-5 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.


Note- 1. All of the above steps have to be done in code. No step is to be done manually.

      2.Please note that you have to scrape full job description. For that you may have to open each job separately as shown below

# creating an empty list job_url

In [19]:
job_url=[]
url=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

# Using a for loop to add values to job_url from url

In [20]:
for i in url:
    x=i.get_attribute('href')
    job_url.append(x)

# Creating an empty list of job description and extracting information from website and adding to it

In [21]:
job_desc=[]
for i in job_url:
    driver.get(i)
    try:
        job_=driver.find_element_by_xpath('//section[@class="job-desc"]//div')
        job_desc.append(job_.text)
    except:
        pass
job_desc

['  Managing and ensuring data quality, integrity, normalization and accuracy of available datasets. Improve data quality as per data quality framework and working with data owner. Internal and external benchmarking to establish things influencing data quality.\nManaging and designing the reporting environment, including data sources, security, and metadata. Generate business insights using BI dashboards that shall provide clear directions/actions to senior managers to support decision-making.\nSupport digitization to improve quality of data. Root cause analysis by using quality analysis tools, machine learning and statistics.\nHelping organization to take key decisions based on integrated analytics involving different datasets. Perform predictive data analysis, generate indications for focus area and target the improvements proactively.\nMaintain and re-engineer existing ETLs to increase data accuracy, data stability, and pipeline performance.\nAdvanced statistical techniques for complex data analysis. Interpreting data, analysing results using statistical techniques, developing analytical reports.\nAdherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.\nSufficient business acumen to understand business objectives & dynamics\nJob Qualifications:\nBachelor s or masters degree in Computer Science, Information management, Statistics or related field\n10+ years of experience in the Consumer or Healthcare industry in an analytical role with focus on querying data, analyzing and clearly presenting analyses to stakeholders across the organization.\nWorking experience on Python, R Programming, Scala, Apache Spark, AWS Redshift is must.\nMandatory working experience in QlikView, Adobe analytics, Google 360. Knowledge in analytics tools like Tableau, Power BI, Excel VBA Macros, RSPSS, SAS is an added advantage.\nProven working experience as a data analyst or business data analyst. Experience in working on Business intelligence tools/platforms and systems.\nStrong knowledge in data pre-processing and EDA by using various tools. Thorough in analytics/visualization tool setup, configuration and administration.\nHaving knowledge of classification (Random Forest, SVM, Boosting and Bagging techniques) and clustering algorithms is desirable\nHands on in Descriptive / Predictive / Prescriptive Analytical techniques. Ability to collect, organize, analyze, and disseminate significant amounts of information with attention to detail and accuracy\nResults driven with analytical and numeric skills. Convey data story through the visualization.\nA team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.\nAbility to work effectively and independently in a fast-paced agile environment with tight deadlines\nA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.',
 'Company systems organization structure, system data maintenance and management\nManagement of system equipment authority , Account number and master data\nInformation system, operation and application guidance , Data check, Data analysis\nPreparing Daily, Weekly & Monthly MIS Reports\nPreparing presentations, Graphs and analytical reports\nMarket Visit based on requirements\nCo-Ordinate with the team as well as the Zone Head for reports.\nCoordination with different team members to collate data\nKeep track of the Promoters Sales & Incentive.\nHelp the team with all other reports.\nRequired Candidate profile\n\nCandidate should fluency in English and Kannada\nPreferable candidate Advance Excel VBA & Macros, SQL\nExcellent Communication & Interpersonal Skills\nProficient in using MS Office including Word, PowerPoint,\nTime Management ,Problem Solving Skills,\nAbility to multitask proactively\nAnalytical thinking and problem solving',
 'Dear Candidates\n\nWe have a Immediate requirement of Business Data Analyst for one of our Client at Bangalore Location.\n\nSummary\nLocation: Bangalore\nExperience: 3 to 5  years experience level is required.\nPosition:  Business Data Analyst\nImmediate joiners preferred within 15 days joiners acceptable.\n\nJD for Business Data Analyst:\n\nDescription:\nEIM (Entitlement and Install Base Master) Business Data Analysts work as part of a team that supports and enhances Client business processes and Data Quality. You will utilize your strong technical competencies and functional business expertise to identify, evaluate and develop processes and procedures that meet business requirements. To do this successfully, you will work closely with cross-functional teams to understand business needs and drive data quality improvement projects. An ability to understand business process issues and communicate technical solutions is essential to your success in this role\nEssential Functions:\n• Data Analysis:\n- Provide information and analysis essential for data quality improvements, Sales & Renewal planning and strategy development\n- Aggregating and organizing information from multiple data sources to aid in analysis\n- Manage analytical projects to deliver intelligence and data discovery capabilities\n- Run statistical analysis on Client Customer Install Base (IB) data\n- Analyze and review existing data to ensure maximum quality\n• Data Management:\n- Provide transactional support to Client enterprise systems\n- Work closely with key business users to identify data gaps and needs\n- Provide support for projects as required, including participating in system enhancements\n- Manage IB registration business logic, data mapping, and data transformation logic\n- Respond to escalations related to Customer IB data and facilitate cross-team resolution\nResponsibility:\nTrack, Monitor, Analyze, Root Cause & Resolve Customer IB & Contract data registration failures\n• Build, Execute and Publish EIM DQ and BVAL metrics on a weekly basis for management and stakeholders review\n• Sharing weekly and monthly metrics with stakeholders, senior management and internal around all operational activities managed by EIM Operations\n• Responsible for monitoring EIM inbound and outbound events to ensure transactions are flowing smoothly\n• Support all Customer IB data related requests coming through Service Now tool\n• Build and maintain Process documents for activities managed by EIM Ops\nRequirements:\n• Experience with relational database (i.e., Oracle, SQL Server and Access) with the ability to write SQL queries to develop reports from scratch and utilize existing report templates\n• Zeal to get hands on into data and perform multiple ad hoc analysis in SQL and/or analytics tools as required\n• Data profiling skills using SQL or other tools. Experience with the Oracle SQL Developer environment is a plus. Must be able to demonstrate data analysis skills in interview.\n• 3+ years in a business/data analyst role. Must be a well versed with SQL and data analysis\n• Ability to interact with Business and Technology units, understanding processes and enabling requirements. Must also be able to create PowerPoint documents and be comfortable presenting to executive management.\n• Previous experience working with regulatory projects with large volume data analysis efforts preferred. Ability to document and effectively communicate information requirements and objectives for a major project or multiple lesser projects\n• Must be able to lead and influence technology and business partners on multiple projects or enhancements and Liaise with multiple groups (Business and Technology) to understand and drive implementation changes as part of data governance and analysis efforts\n• Participate in business requirements discussion, documentation and validation\n• Must be deadline oriented, able to identify risks and resolve issues\nEducation & Experience:\n• Bachelors Degree is required\n• 3 to 5 years of enterprise experience in data management and reporting applications, preferably with high tech companies\n\nRegards\nNaveen Kumar N\nMail id: naveen_k@trigent.com\nContact no: 9108228912 (Call between 9:30 Am to 6:30 Pm on weekdays only)',
 'Position Title: Service Data & Contract Analyst Service and Repair\n\nDivision: Service & Repair\n\nPosition Summary (brief Summary of job purpose)\nThe Service Data & Contract Analyst role is responsible for growing service revenue in general and contract revenue in particular by partnering with field service engineers, Depot Service Engineers, and customers across the full range of serviceable products in entire ISC region. The role is responsible for designing contracts to meet customer requirements, reviewing, and amending terms and conditions of customer contracts, providing timely market trends, providing service expertise to operating units and proactively enabling relevant teams to sell service agreements.\n\nPosition Responsibilities:\nSupport the growth of service contract uptake through clear value propositions linked to the various tiered contract offerings.\nMarket analysis & Business development\nOpportunity management & Forecasting (SFDC)\nAdminister, extend and negotiate standard and non-standard contracts including completing the red-line/editing process to meet customer specifications, and partnering with Legal where appropriate.\nDevelop creative service and/or pricing solutions to address complex hospital scenarios.\nPeriodically review and revise contract pricing, partnering with internal teams. Collaborate cross-functionally to determine annual list prices and other pertinent issues involving service revenue.\nParticipate in contract negotiations (within approved pricing parameters) with field employees with minimal supervisory involvement. Ensure the sales team is updated on significant customer related issues regarding service and brainstorm solutions.\nCollaborate with Sales and Service teams to strategically target and forecast monthly and quarterly sales and for long term funnel management. Regularly update and maintain opportunities to reflect their point in the sales stage and probability of closing.\nMaintain customer files and complete and accurate information in various customer databases, including Salesforce.com and SAP.\nAnalyse break fix (time and material) repair history and qualify new opportunities to convert customers to contract. Review install base records, consumable usage patterns and other data to identify new opportunities to convert customers to contract.\nCreate presentations demonstrating the value of contracted services to internal operating units, commercial overlays, and key external customers.\nSupport contract negotiations involving hospital group purchasing contracts, across multiple Medtronic businesses, as appropriate.\nCollaborate with various commercial teams to respond to service requests in capital equipment tenders.\nProvide other sales support as necessary related to Services.\nDevelop and lead continuous improvement projects that drive profitable growth and commercial excellence.\nAll activities must be performed in compliance with the Quality System.\nPerforms duties in compliance with environmental, health and safety related site rules, policies or governmental regulations.\n\nJOB QUALIFICATIONS\nREQUIREMENTS PREFERENCES\nBSc /BE /B Tech/MBA Degree\nA total of at least 4 years (or more) in Data analysis & management domain\nExperience in medical device industry\nExperience in strategy consulting and implementation\n\nSKILLS/COMPETENCIES\nAbility to analyse and negotiate complex service agreements\nExcellent communication skills both oral and written.\nStrong organization skills and able to effectively prioritize daily work demands.\nResponsive, confident problem solver.\nWillingness to work in a team environment including working with field Sales Professionals with a high sense of urgency.\nExperience in SAP is must.\nExperience with SalesForce.com.\nExperience working in Excel.\n\n\nInterested candidates may apply at aarushi.a@medtronic.com',
 'Job Overview\nWe are looking for a hands-on, detail oriented and highly motivated Senior Data Analyst to help create data backed insights that will drive improvement for business impact. He/She should be focused and having passion for both math and technology to join our growing Data Science team. This group writes the math and software to unlock the value in data assets while creating new and unique offerings for customers.\nIn this role, you will have the opportunity to work directly with the business innovation teams, marketing, sales and global customers along with expertise from Ecolabs Center for Advanced Analytics, to develop the data strategy and advanced analytics pipeline.\nOpportunity to stay on the cutting edge of research and then to put this research to practical use by building your own software systems. You will be able to see the results of your efforts ripple throughout our systems in real-time. You will design your systems as you see fit, own your code, and your work will have a very direct, measurable impact on our core metrics.\nResponsibilities\nBuild compelling, clear and powerful visualizations of data.\nDesign, architect and implement interactive dashboards and reports.\nDevelop a common language and approach to analyzing and communicating information and insights across teams.\nA problem-solving mindset with the ability to understand business challenges and how to apply analytics expertise to solve them.\nshould be comfortable interfacing with technology systems and be able to analyze data and gather actionable conclusions.\nOperating in a rapidly changing environment will require the candidate to be adept at dealing with ambiguous, new and challenging situations.\nThe candidate will be comfortable in executing repeatable processes.\nThe unique person who can present complex mathematical solutions in a simple manner that most will understand, including customers.\nAn individual excited by innovation and new technology and eager to finds ways to employ these innovations in practice.\nA team mentality empowered by the ability to work with a diverse set of individuals.\nTell a clear story, highlight insights we had not previously seen and do it all faster than we’ve been able to previously.\nCreate, maintain and document a robust set of metrics to monitor day-to-day bug detection and long-term performance tracking.\nHave strong understanding of best practices, standards and guidelines in each technology/product and apply same to produce high quality deliverables\nShould be able to take responsibility for the software life cycle - set up all environment, design, code, test, repository mgmt and deployments as applicable and as required.\nRequired Qualifications\nA Bachelor’s degree in Data Analysis, Math, Statistics, Computer Science or related field with an emphasis on analytics.\n5+ Years professional experience in a data scientist/analyst role or similar.\nProven ability at design and building scalable, high-performance data visualization using PowerBI, D3JS, c3js, Angular, Tableau preferably PowerBI.\nProficiency in statistics/analytics preferably in the Microsoft Azure Suite, including Azure ML Studio, ADF, Data Lake, HDI and SQL.\nPython, ML libraries, Jupiter Notebook, Anaconda, ML concept, Power BI\nFamiliarity with significance testing, sampling, descriptive statistics, Bayesian models & multivariate statistics\nPreferred Qualifications\nPrior experience with machine learning algorithms and their implementations\nExperience with manipulating large data sets, working with parquet files.\nDeep Leaning, Computer Vision, NLP Concepts and frameworks.\nDocker/Kubernetes, Kubeflow, PySpark\nExposer to NOSQL concepts.\nExcellent communication, organizational transformation, and leadership skills\nDemonstrated excellence in Data Science, Business Analytics and EngineeringRoles and Responsibilities\n\n\nDesired Candidate Profile\n\n\nPerks and Benefits',
 'We are looking for data analyst with experience in credit & finance solutions ,preferably worked on analytical and reporting solution\nPOWER BI SKILLS\n-Responsibility of resource include requirement gathering from Business\n-Proposing efficient solutions to Business\n-Contributes to Design of solution in collaboration with solution architect , Sr Designers\n- Collaborates with data architect for data modelling\n- Testing solution post build\n- Experience with SQL-based technologies (e.g. MSSQL, MySQL, PostgreSQL) is preferred .\n-Resource should have good communication /stakeholder management skills',
 '1. Azure Analytics (Preferred)\n2. SQL (Preferred)\n3. Power BI (Preferred)\n4. Natural Language Processing (Added Advantage)\n5. Python (Added Advantage)\nPrimary skills:\nAzure, Databricks 3+ years Azure Advanced Analytics\nSQL Server Analysis Services\nPowerBI (Analyzing and Visualizing Data with Microsoft Power BI) Certified PowerBI\nThe Data Analyst is responsible for identifying, analyzing and documenting the business needs. Helping the business to find the right answer to solve their business problems, to determine feasible solutions contributing to develop new business models. Equally this role is about providing support to the business to further professionalize their MI / Analytic reporting platform, using the ESSA approach [Automate, Standardize, Simplify & Automate]\nPrecisely capture business problems, value drivers, and functional/non-functional requirements, including health, safety, security, usability, data, and supportability considerations.\nTranslate business requirements into functionality and assess the risks, feasibility, opportunities, and business impacts of various solution options.\nAssess and model processes, data flows, and technology to understand the bottlenecks and identify opportunities for improvement.\nCreate clear documentation to communicate requirements and related information; keep updated to align with the solution over the project lifecycle.\nEnsure traceability of requirements from business needs and requirements, through testing and scope changes, to final solution.\nInteract with software suppliers, designers and developers to understand software limitations, deliver elements of system and database design, and ensure that business requirements and use.',
 'The responsibilities of the Data Engineer (Technical) include managing the day-to-day activities for the Data Analytics and Visual Analytics driven business solutions of the customer. This includes\n\n1. Administration of the reporting solution built using Tableau, Excel, VBA Macro and Queries are written using PL/SQL\n2. Managing reporting incidents and requests within the specified SLA\n3. Modification of existing reports and PL/SQL codes\n4. Supporting & Coordinating with business and technical team\n5. Automation of daily jobs wherever possible\n6. Analysis of data as per compliance\n7. New report development using Tableau and/or PL/SQL on demand basis\n8. Daily health checks and housekeeping activities\n\nRequired Skills:\nVery Good Excel skills – Macros and VBA/ VB\nStrong in PL/SQL queries and Database Systems\nStrong MS Office Skills (mainly excel) and proficient in writing Macros (VB Skills)\nAlso good in Python for data management\nExperience in BI report building using Tableau\n\nA minimum of 6 years of experience in IT / Data Analytics industry out of that 2 years in the field of Data Analytics as has been mentioned under responsibilities above',

In [22]:
len(job_desc)

16

# slicing the list to only contain 10 elements

In [23]:
job_desc=job_desc[0:10]

In [24]:
len(job_desc)

10

# Creating a dataframe with the help of lists

In [25]:
df_naukri_2=pd.DataFrame({"Company Name":company_name,"Location":location,"Designation":job_profile,"Job Description":job_desc})

In [26]:
df_naukri_2

,Company Name,Location,Designation,Job Description
0,Philips India Limited,Bangalore/Bengaluru,Senior Specialist - Data Analyst,"Managing and ensuring data quality, integrit..."
1,CGI Information Systems and Management Consult...,Bangalore/Bengaluru,Business/Data Analyst - SSE/LA,"Company systems organization structure, system..."
2,Infobahn Softworld Inc.,Bangalore/Bengaluru,Business Data Analyst II,Dear Candidates\n\nWe have a Immediate require...
3,WEIWO Communication Pvt. Ltd.,Bangalore/Bengaluru(Ulsoor),Data Analyst,Position Title: Service Data & Contract Analys...
4,Trigent Software,Bangalore/Bengaluru,Business Data Analyst,"Job Overview\nWe are looking for a hands-on, d..."
5,Trigent Software,Bangalore/Bengaluru,Business Data Analyst,We are looking for data analyst with experienc...
6,"India Medtronic Pvt. Ltd,.","Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Data Analyst/Business Analyst-Gurgaon/Bangalor...,1. Azure Analytics (Preferred)\n2. SQL (Prefer...
7,SMEDC SERVICES PRIVATE LIMITED,Bangalore/Bengaluru,Senior Data Analyst,The responsibilities of the Data Engineer (Tec...
8,Allegis Services India Pvt. Ltd.,(WFH during Covid),Data Analyst,Works independently under limited supervision ...
9,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Data Analyst,Role : Senior Data Analyst\n\nRequired Skills ...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

# Calling the webdriver and entering the url

In [31]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

# Navigating to the search bar and entering the keys as Data Scientist

In [32]:
skill_des=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'input[id="qsb-keyword-sugg"]')))
skill_des.clear()
skill_des.send_keys("Data Scientist")

# Clicking the search button

In [33]:
search=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'button[class="btn"]'))).click()

In [34]:
driver.find_element_by_xpath('//label[@for="chk-Delhi / NCR-cityTypeGid-"]/i[@class="fleft naukicon naukicon-checkbox"]').is_selected()

False

# Applying various filters for our job search

In [35]:
driver.find_element_by_xpath('//label[@for="chk-Delhi / NCR-cityTypeGid-"]/i[@class="fleft naukicon naukicon-checkbox"]').click()

In [36]:
driver.find_element_by_xpath('//label[@for="chk-3-6 Lakhs-ctcFilter-"]/i[@class="fleft naukicon naukicon-checkbox"]').is_selected()

False

In [37]:
driver.find_element_by_xpath('//label[@for="chk-3-6 Lakhs-ctcFilter-"]/i[@class="fleft naukicon naukicon-checkbox"]').click()

# Creating the empty lists for our final dataframe

In [38]:
job_title=[]
job_location=[]
company_name=[]
exp_req=[]

# Collecting all job_titles from website and gathering data into our empty list job_title with the help of for loop

In [39]:
job_t=driver.find_elements_by_xpath('//div[@class="info fleft"]/a')

In [40]:
for i in job_t:
    x=i.text
    job_title.append(x)

# Collecting all job_locations from website and gathering data into our empty list job_location with the help of for loop

In [41]:
job_l=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')

In [42]:
for i in job_l:
    x=i.text
    job_location.append(x)

# Collecting all company_names from website and gathering data into our empty list company_name with the help of for loop

In [43]:
comp_n=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [44]:
for i in comp_n:
    x=i.text
    company_name.append(x)

# Collecting all experience_required from website and gathering data into our empty list exp_req with the help of for loop

In [45]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')

In [46]:
for i in exp:
    x=i.text
    exp_req.append(x)

# Slicing all the lists to only contain 10 values

In [47]:
job_title=job_title[0:10]
job_location=job_location[0:10]
company_name=company_name[0:10]
exp_req=exp_req[0:10]

# Creating a dataframe with the help of our list

In [48]:
df_naukri_3=pd.DataFrame({"Job Title":job_title,"Job Location":job_location,"Comapny Name":company_name,"Experience Required":exp_req})

In [49]:
df_naukri_3

,Job Title,Job Location,Comapny Name,Experience Required
0,Data Scientist,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd,2-4 Yrs
1,Data Scientist / Sr. Data Scientist,"Noida, Pune, Mumbai (All Areas)",WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs
2,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
3,Data Scientist / Data Analyst,Gurgaon/Gurugram,CARS24,1-5 Yrs
4,Immediate Openings For DATA Scientist with 6 T...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Entune IT Consulting Private Limited,5-8 Yrs
5,Data Scientist,(WFH during Covid),Decimal Technologies Pvt Ltd.,1-3 Yrs
6,Senior Data Scientist - Noida,Gurgaon/Gurugram,Optum Global Solutions (India) Private Limited,2-6 Yrs
7,Data Scientist,Noida,R Systems International Ltd.,5-10 Yrs
8,Hiring Data Scientist Develope || IDS Infotech...,Noida(Sector-59 Noida),IDS Infotech Ltd.,5-10 Yrs
9,Hiring Data Scientist Develope || IDS Infotech...,"Chandigarh, Hyderabad/Secunderabad, Chennai, B...",IDS Infotech Ltd.,5-10 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

# Calling the webdriver and feeding the url

In [50]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.glassdoor.co.in/index.htm"
driver.get(url)

# clicking to the sign in button

In [54]:
signin=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'button[class="d-flex align-items-center justify-content-center order-1 order-md-2 mr-auto mr-md-0 p-0 LockedHomeHeaderStyles__signInButton"'))).click()

# Entering emailid and password and clicking the signin button

In [55]:
email_signin=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'input[id="userEmail"]')))
password=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'input[id="userPassword"]')))

In [56]:
email_signin.clear()
password.clear()
email_signin.send_keys("pranavpandeyd1@gmail.com")
password.send_keys("seleniumglassdoor")

In [57]:
signin=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH,'//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]'))).click()

# Entering the values of job_title and job_location and later pressing the search button

In [60]:
job_title=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'input[id="sc.keyword"]')))
location=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'input[id="sc.location"]')))

In [61]:
job_title.clear()
location.clear()

In [62]:
job_title.send_keys("Data Scientist")
location.send_keys("Noida")

In [63]:
searchjobs=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'button[class="gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7"]'))).click()

# Creating empty lists

In [64]:
company_name=[]
num_day=[]
rating=[]

# Using for loops to add the extracted data into our empty lists

In [65]:
comp=driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]/span')

In [66]:
for i in comp:
    x=i.text
    company_name.append(x)

In [67]:
number=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')

In [68]:
for i in number:
    x=i.text
    num_day.append(x)

In [69]:
rat=driver.find_elements_by_xpath('//div//span[@class="css-19pjha7 e1cjmv6j1"]')

In [70]:
for i in rat:
    x=i.text
    rating.append(x)

# Slicing the lists to only contain 10 elements

In [71]:
company_name=company_name[0:10]
num_day=num_day[0:10]
rating=rating[0:10]

# Creating a dataframe from our lists

In [228]:
df_glass=pd.DataFrame({"Company Name":company_name,"Number of days ago job posted":num_day,"Ratings":rating})

In [229]:
df_glass

                           Company Name Number of days ago job posted Ratings
0  Liberin Technologies Private Limited                            9d     3.3
1                          Pixel Vision                           19d     3.8
2                       Newgen Software                           20d     4.1
3                                 Crowe                          30d+     5.0
4          Salasar New Age Technologies                          30d+     3.9
5                              Ericsson                            4d     4.1
6                              Techlive                          30d+     3.8
7                         NatWest Group                            2d     3.7
8                        Biz2Credit Inc                          30d+     3.8
9                             Innovacer                            1d     3.1

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

# Calling the Webdriver and entering the url

In [198]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.glassdoor.co.in/index.htm"
driver.get(url)

# Clicking on the sign in button

In [201]:

signin=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'button[class="d-flex align-items-center justify-content-center order-1 order-md-2 mr-auto mr-md-0 p-0 LockedHomeHeaderStyles__signInButton"]')))
time.sleep(10)
signin.click()

In [202]:
email_signin=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'input[id="userEmail"]')))
password=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'input[id="userPassword"]')))

# Entering the Sign in credentials

In [203]:
email_signin.clear()
password.clear()
email_signin.send_keys("pranavpandeyd1@gmail.com")
password.send_keys("seleniumglassdoor")

# Clicking the login button

In [204]:
signin=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH,'//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]'))).click()

In [206]:
job_title= WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH,'//input[@id="sc.keyword"]')))
location= WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH,'//input[@id="sc.location"]')))

In [207]:
job_title.clear()
location.clear()

# Passing keys for the job title and  job location thereafter clicking search button

In [208]:
job_title.send_keys("Data Scientist")
location.send_keys("Noida")

In [209]:
searchjobs=WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'button[class="gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7"]'))).click()

# Gathering the data from the glassdoor website

In [272]:
company_detail=[]
companies=driver.find_elements_by_xpath('//div[@class="d-flex flex-column pl-sm css-1d3xmk8 e1rrn5ka4"]')

for i in companies:

    if i.text is None :

        company_detail.append("--") 

    else:

        company_detail.append(i.text)

In [273]:
#We have got the all details in this list, we will manipulate the list to extract every single feature from it.
company_detail

['Liberin Technologies Private Limited\nAssociate Data Scientist\nNoida\n₹3L - ₹7L (Employer Est.)\nEasy Apply\n16d',
 'Data Trained Education\nData Science Intern\nNoida\n₹1L - ₹3L (Employer Est.)\nEasy Apply\n6d',
 'Pixel Vision\nData Scientist Intern\nNoida\nEasy Apply\n26d',
 'Emerging India Analytics\nData Science Training Head-Full Time\nNoida\n₹4L - ₹6L (Employer Est.)\nEasy Apply\n7d',
 'CRMNEXT\nData Scientist Team Leader\nNoida\nNew\n1d',
 'Crowe\nData Scientist\nNoida\n30d+',
 'Techlive\nData Scientist\nNoida\n30d+',
 'Biz2Credit Inc\nData Scientist\nNoida\nEasy Apply\n30d+',
 'Ericsson\nData Scientist\nNoida\n11d',
 'Newgen Software\nData Scientist\nNoida\n27d',
 'Salasar New Age Technologies\nData Scientist Intern\nNoida\n30d+',
 'Uncodemy\nData Science with AI,ML,DEEP Learning Trainer\nNoida\n₹4L - ₹7L (Employer Est.)\nEasy Apply\n7d',
 'DataTrained\nData Science Internship\nNoida\n₹60T - ₹1L (Employer Est.)\n5d',
 'Aliqan Technologies\nData Scientist\nGurgaon\n₹27L - ₹32L (Employer Est.)\nEasy Apply\n29d',
 'British Council\nBusiness Analyst - Data Science & Analytics\nNoida\n5d',
 'NatWest Group\nManager - Data Scientist\nGurgaon\nNew\n2d',
 'UnitedHealth Group\nData Scientist - Noida, UP\nNoida\n30d+',
 'SearchUrCollege\nData Scientist\nNoida\n30d+',
 'NEC Opportunities\nData Scientist\nNew Delhi\n8d',
 'Conduent\nData Scientist IV\nNoida\nEasy Apply\n30d+',
 'Deciman\nData Scientist\nGurgaon\n15d',
 'Innovacer\nSenior Data Scientist(NLP)\nNoida\n30d+',
 'Innovacer\nLead Data Scientist\nNoida\n8d',
 'Amantya Technologies\nData Scientist\nGurgaon\nNew\n3d',
 'Salasar New Age Technologies\nData Scientist\nNoida\n30d+',
 'WishFin\nData Scientist\nNoida\n30d+',
 'Innobuzz\nData Science Trainer\nNew Delhi\n₹4L - ₹6L (Employer Est.)\nNew\nEasy Apply\n2d',
 'McKinsey & Company\nData Scientist - QuantumBlack\nGurgaon\n5d',
 'Emerging India Group\nAssistant Manager/Deputy Manager/Manager - Sales - Data Analytics Training Solutions\nNoida\n₹5L (Employer Est.)\n30d+',
 'Decision Tree Analytics And Services\nData Analytics Internship\nGurgaon\n₹2L (Employer Est.)\n6d']

In [274]:
company_detail[1].split("\n")

['Data Trained Education',
 'Data Science Intern',
 'Noida',
 '₹1L - ₹3L (Employer Est.)',
 'Easy Apply',
 '6d']

# Using for loops to add the data in empty lists

In [275]:
#We are taking only those companies which has maximum and minum salary mentioned
companies=[]
for i in company_name:
    if u"\u20B9" in i:
        companies.append(i)
    else:
        companies.append("-")

In [277]:
companies

['Liberin Technologies Private Limited\nAssociate Data Scientist\nNoida\n₹3L - ₹7L (Employer Est.)\nEasy Apply\n16d',
 'Data Trained Education\nData Science Intern\nNoida\n₹1L - ₹3L (Employer Est.)\nEasy Apply\n6d',
 '-',
 'Emerging India Analytics\nData Science Training Head-Full Time\nNoida\n₹4L - ₹6L (Employer Est.)\nEasy Apply\n7d',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 'Uncodemy\nData Science with AI,ML,DEEP Learning Trainer\nNoida\n₹4L - ₹7L (Employer Est.)\nEasy Apply\n7d',
 'DataTrained\nData Science Internship\nNoida\n₹60T - ₹1L (Employer Est.)\n5d',
 'Aliqan Technologies\nData Scientist\nGurgaon\n₹27L - ₹32L (Employer Est.)\nEasy Apply\n29d',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 'Innobuzz\nData Science Trainer\nNew Delhi\n₹4L - ₹6L (Employer Est.)\nNew\nEasy Apply\n2d',
 '-',
 'Emerging India Group\nAssistant Manager/Deputy Manager/Manager - Sales - Data Analytics Training Solutions\nNoida\n₹5L (Employer Est.)\n30d+',
 'Decision Tree Analytics And Services\nData Analytics Internship\nGurgaon\n₹2L (Employer Est.)\n6d']

In [278]:

company_rup=[]

for i in tony:
    i.split("\n")
    if u"\u20B9" in i:
        company_rup.append(i)

In [279]:
company_rup

['Liberin Technologies Private Limited\nAssociate Data Scientist\nNoida\n₹3L - ₹7L (Employer Est.)\nEasy Apply\n16d',
 'Data Trained Education\nData Science Intern\nNoida\n₹1L - ₹3L (Employer Est.)\nEasy Apply\n6d',
 'Emerging India Analytics\nData Science Training Head-Full Time\nNoida\n₹4L - ₹6L (Employer Est.)\nEasy Apply\n7d',
 'Uncodemy\nData Science with AI,ML,DEEP Learning Trainer\nNoida\n₹4L - ₹7L (Employer Est.)\nEasy Apply\n7d',
 'DataTrained\nData Science Internship\nNoida\n₹60T - ₹1L (Employer Est.)\n5d',
 'Aliqan Technologies\nData Scientist\nGurgaon\n₹27L - ₹32L (Employer Est.)\nEasy Apply\n29d',
 'Innobuzz\nData Science Trainer\nNew Delhi\n₹4L - ₹6L (Employer Est.)\nNew\nEasy Apply\n2d',
 'Emerging India Group\nAssistant Manager/Deputy Manager/Manager - Sales - Data Analytics Training Solutions\nNoida\n₹5L (Employer Est.)\n30d+',
 'Decision Tree Analytics And Services\nData Analytics Internship\nGurgaon\n₹2L (Employer Est.)\n6d']

In [285]:
name=[]
for i in india:
    name.append(i.split("\n")[0])

In [280]:
min_max=[]
for i in india:
    min_max.append(i.split("\n")[3])

In [281]:
min_max

['₹3L - ₹7L (Employer Est.)',
 '₹1L - ₹3L (Employer Est.)',
 '₹4L - ₹6L (Employer Est.)',
 '₹4L - ₹7L (Employer Est.)',
 '₹60T - ₹1L (Employer Est.)',
 '₹27L - ₹32L (Employer Est.)',
 '₹4L - ₹6L (Employer Est.)',
 '₹5L (Employer Est.)',
 '₹2L (Employer Est.)']

In [282]:
job_profile=[]
for i in india:
    job_profile.append(i.split("\n")[1])

In [283]:
job_profile

['Associate Data Scientist',
 'Data Science Intern',
 'Data Science Training Head-Full Time',
 'Data Science with AI,ML,DEEP Learning Trainer',
 'Data Science Internship',
 'Data Scientist',
 'Data Science Trainer',
 'Assistant Manager/Deputy Manager/Manager - Sales - Data Analytics Training Solutions',
 'Data Analytics Internship']

# Creating a dataframe

In [286]:
df_glassdoor=pd.DataFrame({"Company Name":name,"Salary Range":min_max,"Job Designation":job_profile})

In [287]:
df_glassdoor

,Company Name,Salary Range,Job Designation
0,Liberin Technologies Private Limited,₹3L - ₹7L (Employer Est.),Associate Data Scientist
1,Data Trained Education,₹1L - ₹3L (Employer Est.),Data Science Intern
2,Emerging India Analytics,₹4L - ₹6L (Employer Est.),Data Science Training Head-Full Time
3,Uncodemy,₹4L - ₹7L (Employer Est.),"Data Science with AI,ML,DEEP Learning Trainer"
4,DataTrained,₹60T - ₹1L (Employer Est.),Data Science Internship
5,Aliqan Technologies,₹27L - ₹32L (Employer Est.),Data Scientist
6,Innobuzz,₹4L - ₹6L (Employer Est.),Data Science Trainer
7,Emerging India Group,₹5L (Employer Est.),Assistant Manager/Deputy Manager/Manager - Sal...
8,Decision Tree Analytics And Services,₹2L (Employer Est.),Data Analytics Internship

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount

To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

# Calling the chrome webdriver

In [103]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.flipkart.com"
driver.get(url)

In [104]:
cross=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

# Creating empty lists

In [105]:
brand=[]
product_des=[]
price=[]
discount=[]

# Navigating to search bar entering key of sunglasses and then clicking the search button

In [106]:
search_bar=driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]')

In [107]:
search_bar.clear()

In [108]:
search_bar.send_keys("Sunglasses")

# Clicking the search button after inserting the keys

In [109]:
button_click=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

# Using for loops to extract the data from the links to the empty lists

In [110]:
links=["https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1","https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2","https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3","https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4"]

In [111]:
driver.get(links[0])
x=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in range(0,40):
    brand.append(x[i].text)

In [112]:
driver.get(links[1])
x=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in range(0,40):
    brand.append(x[i].text)

In [113]:
driver.get(links[2])
x=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in range(0,40):
    brand.append(x[i].text)

In [114]:
driver.get(links[0])
x=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in range(0,38):
    product_des.append(x[i].text)

In [115]:
driver.get(links[1])
x=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in range(0,38):
    product_des.append(x[i].text)

In [116]:
driver.get(links[2])
x=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in range(0,38):
    product_des.append(x[i].text)

In [117]:
driver.get(links[0])
x=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in range(0,38):
    price.append(x[i].text)

In [118]:
driver.get(links[1])
x=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in range(0,38):
    price.append(x[i].text)

In [119]:
driver.get(links[2])
x=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in range(0,38):
    price.append(x[i].text)

In [120]:
driver.get(links[0])
x=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')

for i in range(0,38):
    discount.append(x[i].text)

In [121]:
driver.get(links[1])
x=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')

for i in range(0,38):
    discount.append(x[i].text)

In [122]:
driver.get(links[2])
x=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')

for i in range(0,38):
    discount.append(x[i].text)

# Slicing the lists to only contain 100 values

In [123]:
brand=brand[0:100]
product_des=product_des[0:100]
discount=discount[0:100]
price=price[0:100]

# Creating a dataframe with the help of lists

In [125]:
df_sunglasses=pd.DataFrame({"Brand":brand,"Price":price,"Discount Offer":discount,"Product Description":product_des})

In [126]:
df_sunglasses

,Brand,Price,Discount Offer,Product Description
0,Wrogn,₹663,73% off,Mirrored Wayfarer Sunglasses (51)
1,ROYAL SON,₹899,55% off,Polarized Retro Square Sunglasses (58)
2,Fastrack,₹758,15% off,UV Protection Wayfarer Sunglasses (Free Size)
3,Elligator,₹295,88% off,UV Protection Round Sunglasses (54)
4,Fastrack,₹513,35% off,UV Protection Rectangular Sunglasses (Free Size)
...,...,...,...,...
95,Fravy,₹549,57% off,Others Wayfarer Sunglasses (Free Size)
96,ROYAL SON,₹499,66% off,UV Protection Retro Square Sunglasses (58)
97,Fastrack,₹314,84% off,"UV Protection, Gradient Wayfarer Sunglasses (53)"
98,Fastrack,₹399,81% off,UV Protection Retro Square Sunglasses (Free Size)
99,ROYAL SON,₹664,45% off,Others Retro Square Sunglasses (Free Size)

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [131]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

# Creating few empty lists

In [167]:
ratings=[]
fullre=[]
review_sum=[]

In [133]:
link=["https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(i)]

In [182]:
a=[]    #for the rating data
af=[]   #for the full review data
ar=[]   #for the review summary data

# Using for loop to put the data in our empty lists

In [183]:
#first 
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(1))
x=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in x:
    a.append(i.text)


y=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in y:
    af.append(i.text)


z=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in z:
    ar.append(i.text)
#second    
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(2))
x=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in x:
    a.append(i.text)


y=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in y:
    af.append(i.text)


z=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in z:
    ar.append(i.text)
    
 #third   
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(3))
x=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in x:
    a.append(i.text)


y=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in y:
    af.append(i.text)


z=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in z:
    ar.append(i.text)
 #fourth   
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(4))
x=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in x:
    a.append(i.text)


y=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in y:
    af.append(i.text)


z=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in z:
    ar.append(i.text)
#fifth    
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(5))
x=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in x:
    a.append(i.text)


y=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in y:
    af.append(i.text)


z=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in z:
    ar.append(i.text)
 #sixth   
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(6))
x=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in x:
    a.append(i.text)


y=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in y:
    af.append(i.text)


z=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in z:
    ar.append(i.text)
 #seventh   
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(7))
x=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in x:
    a.append(i.text)


y=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in y:
    af.append(i.text)


z=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in z:
    ar.append(i.text)
 #eigth   
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(8))
x=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in x:
    a.append(i.text)


y=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in y:
    af.append(i.text)


z=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in z:
    ar.append(i.text)
 #nineth   
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(9))
x=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in x:
    a.append(i.text)


y=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in y:
    af.append(i.text)


z=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in z:
    ar.append(i.text)
 #tenth   
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(10))
x=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in x:
    a.append(i.text)


y=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in y:
    af.append(i.text)


z=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in z:
    ar.append(i.text)

In [188]:
af=af[0:98]
ar=ar[0:98]

# Creating a dataFrame

In [192]:
df_iphone=pd.DataFrame({"Ratings":a,"Summary Review":ar,"Full Review":af})

In [193]:
df_iphone

,Ratings,Summary Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
93,5,Awesome,The phone is completely good\nAs far as camera...
94,5,Decent product,Everything u ll like it when u use this iPhone...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Fabulous!,Everything is perfect pictures come out so cle...
97,5,Just wow!,The ultimate performance\nCamera is superb\nTh...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.

# Calling the webdriver and feeding the webaddress

In [75]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.flipkart.com/"
driver.get(url)

In [76]:
cross=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

# Navigating to the search bar and entering the sneakers

In [77]:
search_bar=driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]')
search_bar.clear()
search_bar.send_keys("sneakers")
search_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

# Creating the empty lists

In [78]:
brand=[]
product_desc=[]
price=[]
discount=[]

# Links of pages from which data need to be extracted

In [79]:
links=["https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=1","https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2","https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3","https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=4"]

# Using for loops to add data in our empty lists

In [80]:
driver.get(links[0])
x=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in range(0,40):
    brand.append(x[i].text)

In [81]:
driver.get(links[1])
y=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')


for i in range(0,40):
    brand.append(y[i].text)

In [82]:
driver.get(links[2])
z=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for i in range(0,40):
    brand.append(z[i].text)

In [83]:
product_description=[]
driver.get(links[0])
x=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in range(0,34):
    product_description.append(x[i].text)

In [84]:
driver.get(links[1])
y=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in range(0,34):
    product_description.append(y[i].text)

In [85]:
driver.get(links[2])
z=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for i in range(0,34):
    product_description.append(z[i].text)

In [86]:
price=[]
driver.get(links[0])
x=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in range(0,40):
    price.append(x[i].text)

In [87]:
driver.get(links[1])
y=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in range(0,40):
    price.append(y[i].text)

In [88]:
driver.get(links[2])
z=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in range(0,40):
    price.append(z[i].text)

In [89]:
discount=[]
driver.get(links[0])
x=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

for i in range(0,40):
    discount.append(x[i].text)

In [90]:
driver.get(links[1])
y=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

for i in range(0,39):
    discount.append(y[i].text)

In [91]:
driver.get(links[2])
z=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

for i in range(0,40):
    discount.append(z[i].text)

# Slicing the lists

In [92]:
brand=brand[0:101]
product_description=product_description[0:101]
price=price[0:101]
discount=discount[0:101]

# Creating a dataframe

In [93]:
df_sneakers=pd.DataFrame({"Brand Name":brand,"Product Description":product_description,"Price":price,"Discount":discount})

In [94]:
df_sneakers

,Brand Name,Product Description,Price,Discount
0,Echor,Luxury Fashionable casual sneaker shoes Sneake...,₹494,80% off
1,Labbin,Sneakers For Men,₹399,50% off
2,Numenzo,Sneakers For Men,₹378,62% off
3,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹420,71% off
4,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹240,51% off
...,...,...,...,...
96,bluemaker,LEBRON 2.0 Sneakers For Men,₹399,55% off
97,Zorth,Sneakers For Men,₹448,15% off
98,SPARX,Original Luxury Branded Fashionable Men's Casu...,₹630,40% off
99,India hub,Casual Sneakers Shoes For Men Sneakers For Men...,₹399,58% off
100,Chevit,SM-675 Sneakers For Men,₹536,88% off

# Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,

# Calling the driver and entering the url

In [95]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.myntra.com/shoes"
driver.get(url)

# Creating empty lists

In [96]:
brand=[]
shoe_desc=[]
price=[]

# Creating a list of links through which data need to be extracted

In [97]:
links=["https://www.myntra.com/shoes?plaEnabled=false","https://www.myntra.com/shoes?p=2&plaEnabled=false","https://www.myntra.com/shoes?p=3&plaEnabled=false"]

# Extracting the data from website and adding to lists by means of for loops

In [98]:
driver.get(links[0])
x=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')

In [101]:
for i in range(0,33):
    price.append(x[i].text)

In [102]:
driver.get(links[1])
y=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')

for i in range(0,37):
    price.append(y[i].text)

In [103]:
driver.get(links[2])
z=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')

for i in range(0,37):
    price.append(z[i].text)

In [104]:
brand=[]
driver.get(links[0])
x=driver.find_elements_by_xpath('//h3[@class="product-brand"]')

for i in range (0,37):
    brand.append(x[i].text)

In [105]:
driver.get(links[1])
y=driver.find_elements_by_xpath('//h3[@class="product-brand"]')

for i in range (0,37):
    brand.append(y[i].text)

In [106]:
driver.get(links[2])
z=driver.find_elements_by_xpath('//h3[@class="product-brand"]')

for i in range (0,37):
    brand.append(z[i].text)

In [107]:
driver.get(links[0])
x=driver.find_elements_by_xpath('//h4[@class="product-product"]')

for i in range (0,37):
    shoe_desc.append(x[i].text)

In [108]:
driver.get(links[1])
y=driver.find_elements_by_xpath('//h4[@class="product-product"]')

for i in range (0,37):
    shoe_desc.append(y[i].text)

In [109]:
driver.get(links[2])
z=driver.find_elements_by_xpath('//h4[@class="product-product"]')

for i in range (0,37):
    shoe_desc.append(z[i].text)

# Slicing the lists to contain 100 elements

In [110]:
brand=brand[0:100]
price=price[0:100]
shoe_desc=shoe_desc[0:100]

# Creating a dataframe

In [111]:
df_myntra=pd.DataFrame({"Brand":brand,"Price":price,"Descripton":shoe_desc})

In [112]:
df_myntra

                    Brand     Price                          Descripton
0    Newfeel By Decathlon   Rs. 685                   Men Walking Shoes
1              HIGHLANDER   Rs. 649                  Men Solid Sneakers
2         U.S. Polo Assn.   Rs. 649          Men Colourblocked Sneakers
3                    Puma   Rs. 999  Men Flexracer 20 IDP Running Shoes
4                 MENGLER   Rs. 847                   Men Walking Shoes
..                    ...       ...                                 ...
95                   Puma   Rs. 699               Men Textured Sneakers
96                Shezone  Rs. 1049              Women Slip-On Sneakers
97   Newfeel By Decathlon   Rs. 829       Men JORDAN WHY NOT ZER0 Shoes
98               Provogue  Rs. 1639         Running Propel EL IDP Shoes
99  HRX by Hrithik Roshan  Rs. 1031                Women Open Toe Flats

[100 rows x 3 columns]

# Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

# Calling the webdriver and entering the url

In [115]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.amazon.in/"
driver.get(url)

# Navigating to the searchbar and feeding the value then clicking the search button

In [116]:
search_bar=driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')

In [117]:
search_bar.clear()
search_bar.send_keys("Laptop")
search_button=driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]').click()

Applying filters

In [118]:
filter_7=driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]//i[@class="a-icon a-icon-checkbox"]').click()

In [119]:
filter_9=driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/16757432031"]//i[@class="a-icon a-icon-checkbox"]').click()

# Creating the empty lists

In [120]:
title=[]
rating=[]
price=[]

# Extracting the data from website and adding data to the lists using for loop

In [121]:
name=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
rate=driver.find_elements_by_xpath('//span[@class="a-size-base"]')
pri=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')

In [123]:
for i in range(0,10):
    title.append(name[i].text)
    
for i in range(0,10):
    rating.append(rate[i].text)
    
for i in range(0,10):
    price.append(pri[i].text)

In [128]:
title=title[0:10]
rating=rating[0:10]
price=price[0:10]

# Creating a dataframe by using the lists

In [129]:
df_laptop=pd.DataFrame({"Title":title,"Rating":rating,"Price":price})

In [130]:
df_laptop

                                               Title Rating     Price
0  Mi Notebook Horizon Edition 14 Intel Core i7-1...  1,024    59,999
1  Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14...     35  1,03,890
2  HP Pavilion (2021) Thin & Light 11th Gen Core ...    257    84,990
3  Life Digital Laptop 15.6-inch (39.62 cms) (Int...     22    29,990
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...  1,024    59,999
5  ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...      2    71,990
6  Life Digital Laptop 15.6-inch (39.62 cms) (Int...     61    34,990
7  NEXSTGO Primus NX201 NP15N1IN008P 15.6-inch La...      3    56,155
8  OMEN 17 Gaming Laptop, NVIDIA GeForce RTX 2070...    106    94,400
9  Dell 14 (2021) i7-1165G7 2in1 Touch Screen Lap...     25    89,990